.root{
    display: inline-block;

}

.mainContent{
    width: 600px;
    height: 575px;
    display:block;
    background-color: red;
   
   margin-left: 250px;
   border-radius:30px;
}

 .text{
     padding-top: 250px;
     text-align:center;
    font-size: 40px;
}